<div style="margin-top: 20px">
    <p>Dear {{account.user_name}},</p>
    <p>
        I hope this email finds you well. As part of our ongoing efforts to
        keep you informed about the status of cases, I'm pleased to share
        with you the monthly collated cases report.
    </p>
    <p>
        Attached to this email is an Excel spreadsheet (xlsx) containing
        the following details for each case:
    </p>
    <ul>
        <li>Case Number</li>
        <li>Priority</li>
        <li>Assigned To</li>
        <li>Assigned On Date</li>
        <li>SLA Breached Status</li>
    </ul>
    <p>
        This report offers a comprehensive overview of the cases currently
        being handled, their assigned priorities, the responsible individuals,
        and the status of SLA breaches.
    </p>
    <p>Please review this report at your convenience.</p>
    <p>Thank you for your continued involvement in our processes.</p>
    <p>Best regards,<br />Inache</p>
</div>
